@font-face {
    font-family: "Halimun";
    src: url(./fonts/Halimun-W7jn.ttf);
}

* {
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    margin: 0;
    font-family: var(--font-family-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--light-grey);
}

a {
    text-decoration: none;
    color: var(--divider);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
        color: var(--divider);
        font-family: var(--font-family-main);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
    }
}

header {
    margin-top: 3%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;


    img {
        margin-top: 15%;
        width: 45ch;
    }
}

img {
    max-width: 100%;
}

.p1 {
    width: 80%;
    min-width: 5ch;
    font-size: clamp(.5rem, 3vw + .5rem, 1.3rem);
    font-weight: 300;
    color: #FFF;
    font-family: var(--font-family-second);
    text-align: center;
}

.p2 {
    font-weight: 600;
    text-align: center;

}

form {
    width: 50%;
}

label {
    font-size: 1.1em;
    font-style: italic;
    color: var(--text-color);
    font-family: var(--font-family-second);
    font-weight: 300;
}

input {
    border: solid 1px var(--text-color);
    padding: 2% 3%;
    border-radius: 1em;
    background-color: #FFF;


    &::placeholder {
        font-style: italic;
        font-size: 1.2em;
    }
}

h1 {
    color: var(--main);
}