.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.m5 {
    margin: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.m10 {
    margin: 10px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30{
    margin-bottom: 30px;
}

.mb40{
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mr20 {
    margin-right: 20px;
}

.m20 {
    margin: 20px;
}

.ml20 {
    margin-left: 2em;
}

.m30 {
    margin: 3em;
}

.mt20 {
    margin-top: 2em;
}

.mt50 {
    margin-top: 5em;
}

.mb20 {
    margin-bottom: 2em;
}

.my20 {
    margin-top: 2em;
    margin-bottom: 2em;
}
.mx20 {
    margin-left: 2em;
    margin-right: 2em;
}

.my30 {
    margin-top: 3em;
    margin-bottom: 3em;
}
.my60 {
    margin-top: 6em;
    margin-bottom: 6em;
}
.mx30 {
    margin-left: 3em;
    margin-right: 3em;
}
.mx50 {
    margin-left: 5em;
    margin-right: 5em;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}
