.navbar{
    position: relative;
}

.menuContainer{
    position: absolute;
    top: 100vh;
    right: 10px;
    width: 200px;
    z-index: 10;
    background-color: red;
    ul{
display: flex;
flex-direction: column;
        
    li{
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 20px;
        transition: background-color 0.2s, color 0.2s;
  a{
    color: black;
    font-size: .5em;
  } 

        &hover{
            background-color: var(--main);
            color: white;
        }
    }}
}