@use "../../assets/styles/mixin" as mixin;

.navbar {
    padding: 1% 2%;
    box-shadow: var(--box-shadow-nav);
    background-color: var(--main);
    color: var(--divider);
    font-family: var(--font-family-titre);
    margin-bottom: 2%;
    width: 100%;

    img {
        width: 2.5em;
        cursor: pointer;
    }

    i{
font-size: 3.7em;
    }

 ul {
            width: 60%;
    
    
        }
    
}


.mobileHeader {
    display: none;
}

@include mixin.xs {
    .mobileHeader {
        display: block;
    }

    .desktopHeader {
        display: none;
    }
}