@use "../../assets/styles/mixin" as mixin;

.navbar {
    padding: 1% 2%;
    box-shadow: var(--box-shadow-nav);
    background-color: var(--main);
    color: var(--divider);
    font-family: var(--font-family-titre);
    margin-bottom: 2%;
    width: 100%;
    height: 8vh;

    img {
        width: 1.6em;
        cursor: pointer;
    }

    i{
font-size: 2.7em;
    }

 ul {
            width: 60%;
    
    
        }
div{

    .navlink{
        padding-top: 30%;
        i{
            box-sizing: border-box;
        }

    }
}
        
    }



.mobileHeader {
    display: none;
}

@include mixin.xs {
    .mobileHeader {
        display: block;
    }

    .desktopHeader {
        display: none;
    }
}