header {
    background: linear-gradient(180deg, #6f6a65a0 0%, rgba(255, 255, 255, 0.00) 96.64%), url(../../assets/images/accueil/headerBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;


    img {
        margin-top: 14%;
        width: 40ch;
    }
}